
#final {
    background: rgba(255, 255, 255, 0.9);
    border-radius:5px;
    bottom:10px;
    left:50%;
    margin-left:-150px;
    position:absolute;
    width:300px;
    height: 122px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6) inset;
    font-family: 'OutageRegular',sans-serif;
	font-size: 15px;
	color:#333;
	text-align: center;
}

#tabl {
    width:200px;
    margin:auto;
	font-size: 14px;
}
#powere {
    width:100%;
}
#msg {
    display: none;
}
#waiT {
    display: none;
}
#sartG {
    display: none;
}
#perd {
    display: none;
}
#waiTing {
    display: none;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}